In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules, apriori

### Read Dataset

In [3]:
sales_reciepts = pd.read_csv ('dataset/201904 sales reciepts.csv')
sales_reciepts.head()

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,7,2019-04-01,12:04:43,3,12,558,N,1,1,52,1,2.50,2.50,N
1,11,2019-04-01,15:54:39,3,17,781,N,1,1,27,2,7.00,3.50,N
2,19,2019-04-01,14:34:59,3,17,788,Y,1,1,46,2,5.00,2.50,N
3,32,2019-04-01,16:06:04,3,12,683,N,1,1,23,2,5.00,2.50,N
4,33,2019-04-01,19:18:37,3,17,99,Y,1,1,34,1,2.45,2.45,N

In [4]:
product = pd.read_csv ('dataset/product.csv')
product.head()

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.40,$18.00,Y,N,N
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.40,$18.00,Y,N,N
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,11.80,$14.75,Y,N,N
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,16.36,$20.45,Y,N,N
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,12.00,$15.00,Y,N,N

### Data Wrangling

#### Merge Data

In [5]:
dataset = pd.merge(
    sales_reciepts[['transaction_id','transaction_date', 'sales_outlet_id', 'customer_id', 'product_id', 'quantity']],
    product[['product_id', 'product_category', 'product']],
    on ='product_id', 
    how = 'left' 
)
dataset.head()

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product
0,7,2019-04-01,3,558,52,1,Tea,Traditional Blend Chai Rg
1,11,2019-04-01,3,781,27,2,Coffee,Brazilian Lg
2,19,2019-04-01,3,788,46,2,Tea,Serenity Green Tea Rg
3,32,2019-04-01,3,683,23,2,Coffee,Our Old Time Diner Blend Rg
4,33,2019-04-01,3,99,34,1,Coffee,Jamaican Coffee River Sm

### Reduce Product Sizes

In [6]:
dataset[dataset['product'].str.contains('Dark chocolate')]['product'].unique()

array(['Dark chocolate Lg', 'Dark chocolate Rg', 'Dark chocolate'],
      dtype=object)

In [7]:
dataset['product'].nunique()

80

In [8]:
dataset['product']= dataset['product'].str.replace(' Rg','')
dataset['product']= dataset['product'].str.replace(' Sm','')
dataset['product']= dataset['product'].str.replace(' Lg','')

In [9]:
dataset['product'].nunique()

45

### Choose Product Subset

In [10]:
products_to_take = ['Cappuccino', 'Latte', 'Espresso shot',  \
                     'Dark chocolate','Sugar Free Vanilla syrup', 'Chocolate syrup',\
                    'Carmel syrup', 'Hazelnut syrup', 'Ginger Scone',  \
                    'Chocolate Croissant', 'Jumbo Savory Scone', 'Cranberry Scone', 'Hazelnut Biscotti',\
                    'Croissant', 'Almond Croissant', 'Oatmeal Scone', 'Chocolate Chip Biscotti',\
                    'Ginger Biscotti',\
                   ]

In [11]:
dataset = dataset[
    dataset['product'].isin(products_to_take)
]

In [12]:
dataset['product'].nunique()

18

In [13]:
dataset[
    ['product','product_category']
].drop_duplicates().reset_index(drop=True)

                     product    product_category
0                 Cappuccino              Coffee
1              Espresso shot              Coffee
2                      Latte              Coffee
3             Dark chocolate  Drinking Chocolate
4              Oatmeal Scone              Bakery
5         Jumbo Savory Scone              Bakery
6    Chocolate Chip Biscotti              Bakery
7            Ginger Biscotti              Bakery
8        Chocolate Croissant              Bakery
9          Hazelnut Biscotti              Bakery
10           Cranberry Scone              Bakery
11                 Croissant              Bakery
12          Almond Croissant              Bakery
13              Ginger Scone              Bakery
14           Chocolate syrup            Flavours
15            Hazelnut syrup            Flavours
16              Carmel syrup            Flavours
17  Sugar Free Vanilla syrup            Flavours
18            Dark chocolate  Packaged Chocolate

### Clean Transactions

In [14]:
dataset['transaction'] = dataset['transaction_id'].astype(str) + "_"+  dataset['customer_id'].astype(str)

In [15]:
num_of_items_for_each_transaction = dataset['transaction'].value_counts().reset_index()

num_of_items_for_each_transaction

     transaction  count
0          209_0     31
1          206_0     30
2          204_0     27
3          208_0     25
4          203_0     24
...          ...    ...
8381     135_523      1
8382     130_157      1
8383     121_465      1
8384     118_748      1
8385    763_8030      1

[8386 rows x 2 columns]

In [16]:
valid_transactions = num_of_items_for_each_transaction[
    (num_of_items_for_each_transaction['count']>1)
]['transaction'].tolist()

valid_transactions

['209_0',
 '206_0',
 '204_0',
 '208_0',
 '203_0',
 '207_0',
 '205_0',
 '151_0',
 '323_0',
 '301_0',
 '42_0',
 '9_0',
 '76_0',
 '202_0',
 '213_0',
 '307_0',
 '274_0',
 '149_0',
 '46_0',
 '51_0',
 '370_0',
 '242_0',
 '298_0',
 '195_0',
 '197_0',
 '475_0',
 '6_0',
 '329_0',
 '344_0',
 '317_0',
 '102_0',
 '59_0',
 '54_0',
 '325_0',
 '172_0',
 '255_0',
 '310_0',
 '118_0',
 '319_0',
 '223_0',
 '140_0',
 '132_0',
 '3_0',
 '97_0',
 '36_0',
 '216_0',
 '282_0',
 '314_0',
 '10_0',
 '135_0',
 '320_0',
 '146_0',
 '278_0',
 '313_0',
 '75_0',
 '211_0',
 '43_0',
 '234_0',
 '122_0',
 '144_0',
 '291_0',
 '171_0',
 '266_0',
 '253_0',
 '356_0',
 '251_0',
 '61_0',
 '352_0',
 '421_0',
 '334_0',
 '228_0',
 '284_0',
 '30_0',
 '315_0',
 '187_0',
 '345_0',
 '377_0',
 '38_0',
 '289_0',
 '239_0',
 '164_0',
 '268_0',
 '143_0',
 '152_0',
 '410_0',
 '295_0',
 '327_0',
 '311_0',
 '227_0',
 '170_0',
 '177_0',
 '260_0',
 '45_0',
 '85_0',
 '32_0',
 '359_0',
 '280_0',
 '235_0',
 '190_0',
 '306_0',
 '262_0',
 '264_0',
 '411_0',
 '167_0',
 '58_0',
 '82_0',
 '333_0',
 '373_0',
 '287_0',
 '343_0',
 '196_0',
 '293_0',
 '331_0',
 '121_0',
 '50_0',
 '183_0',
 '466_0',
 '275_0',
 '150_0',
 '90_0',
 '142_0',
 '55_0',
 '70_0',
 '21_0',
 '67_0',
 '222_0',
 '66_0',
 '68_0',
 '145_0',
 '360_0',
 '351_0',
 '324_0',
 '39_0',
 '131_0',
 '84_0',
 '184_0',
 '428_0',
 '545_0',
 '154_0',
 '129_0',
 '117_0',
 '94_0',
 '63_0',
 '91_0',
 '65_0',
 '346_0',
 '248_0',
 '285_0',
 '24_0',
 '52_0',
 '367_0',
 '286_0',
 '254_0',
 '215_0',
 '35_0',
 '341_0',
 '40_0',
 '347_0',
 '214_0',
 '388_0',
 '252_0',
 '218_0',
 '221_0',
 '229_0',
 '296_0',
 '217_0',
 '201_0',
 '72_0',
 '386_0',
 '247_0',
 '270_0',
 '230_0',
 '241_0',
 '96_0',
 '210_0',
 '174_0',
 '434_0',
 '175_0',
 '148_0',
 '7_0',
 '297_0',
 '305_0',
 '309_0',
 '502_0',
 '312_0',
 '337_0',
 '231_0',
 '443_0',
 '157_0',
 '407_0',
 '416_0',
 '321_0',
 '322_0',
 '25_0',
 '113_0',
 '354_0',
 '499_0',
 '199_0',
 '348_0',
 '368_0',
 '158_0',
 '22_0',
 '358_0',
 '371_0',
 '163_0',
 '340_0',
 '181_0',
 '88_0',
 '200_0',
 '259_0',
 '303_0',
 '5_0',
 '372_0',
 '393_0',
 '405_0',
 '308_0',
 '417_0',
 '137_0',
 '453_0',
 '136_0',
 '441_0',
 '412_0',
 '244_0',
 '127_0',
 '468_0',
 '119_0',
 '49_0',
 '14_0',
 '2_0',
 '198_0',
 '220_0',
 '420_0',
 '498_0',
 '409_0',
 '124_0',
 '330_0',
 '243_0',
 '261_0',
 '265_0',
 '8_0',
 '506_0',
 '100_0',
 '277_0',
 '276_0',
 '57_0',
 '283_0',
 '361_0',
 '271_0',
 '269_0',
 '385_0',
 '116_0',
 '429_0',
 '41_0',
 '384_0',
 '403_0',
 '101_0',
 '95_0',
 '424_0',
 '53_0',
 '123_0',
 '107_0',
 '374_0',
 '141_0',
 '130_0',
 '380_0',
 '350_0',
 '990_0',
 '139_0',
 '191_0',
 '233_0',
 '328_0',
 '1_0',
 '438_0',
 '365_0',
 '392_0',
 '173_0',
 '394_0',
 '180_0',
 '454_0',
 '178_0',
 '106_0',
 '401_0',
 '408_0',
 '400_0',
 '362_0',
 '134_0',
 '505_0',
 '212_0',
 '339_0',
 '843_0',
 '829_0',
 '379_0',
 '232_0',
 '71_0',
 '48_0',
 '17_0',
 '683_0',
 '680_0',
 '326_0',
 '256_0',
 '281_0',
 '648_0',
 '634_0',
 '524_0',
 '120_0',
 '472_0',
 '153_0',
 '182_0',
 '98_0',
 '387_0',
 '679_0',
 '353_0',
 '11_0',
 '47_0',
 '300_0',
 '104_0',
 '23_0',
 '302_0',
 '897_0',
 '1838_0',
 '442_0',
 '28_0',
 '16_0',
 '336_0',
 '267_0',
 '563_0',
 '138_0',
 '166_0',
 '179_0',
 '435_0',
 '64_0',
 '20_0',
 '79_0',
 '399_0',
 '887_0',
 '357_0',
 '273_0',
 '414_0',
 '74_0',
 '292_0',
 '162_0',
 '189_0',
 '366_0',
 '188_0',
 '402_0',
 '238_0',
 '1183_0',
 '451_0',
 '364_0',
 '288_0',
 '33_0',
 '37_0',
 '128_0',
 '299_0',
 '800_0',
 '512_0',
 '112_0',
 '34_0',
 '440_0',
 '774_0',
 '967_0',
 '1022_0',
 '1210_0',
 '161_0',
 '159_0',
 '155_0',
 '111_0',
 '1920_0',
 '92_0',
 '62_0',
 '436_0',
 '431_0',
 '258_0',
 '471_0',
 '26_0',
 '509_0',
 '504_0',
 '1541_0',
 '194_0',
 '236_0',
 '83_0',
 '81_0',
 '507_0',
 '477_0',
 '625_0',
 '13_0',
 '225_0',
 '186_0',
 '419_0',
 '114_0',
 '450_0',
 '226_0',
 '458_0',
 '556_0',
 '483_0',
 '446_0',
 '349_0',
 '877_0',
 '89_0',
 '489_0',
 '548_0',
 '224_0',
 '418_0',
 '1537_0',
 '376_0',
 '110_0',
 '56_0',
 '19_0',
 '422_0',
 '18_0',
 '495_0',
 '464_0',
 '462_0',
 '415_0',
 '316_0',
 '272_0',
 '169_0',
 '77_0',
 '27_0',
 '115_0',
 '250_0',
 '279_0',
 '257_0',
 '240_0',
 '534_0',
 '481_0',
 '485_0',
 '514_0',
 '318_0',
 '219_0',
 '474_0',
 '12_0',
 '488_0',
 '501_0',
 '249_0',
 '848_0',
 '1146_0',
 '529_0',
 '1186_0',
 '69_0',
 '972_0',
 '452_0',
 '245_0',
 '1306_0',
 '50_432',
 '607_0',
 '623_0',
 '100_38',
 '228_661',
 '1013_0',
 '1741_0',
 '278_30',
 '1645_0',
 '103_0',
 '147_0',
 '569_0',
 '686_0',
 '382_0',
 '176_0',
 '355_0',
 '719_0',
 '1304_0',
 '304_0',
 '105_0',
 '704_0',
 '878_0',
 '1758_0',
 '294_0',
 '978_0',
 '740_0',
 '1080_0',
 '1018_0',
 '702_0',
 '237_0',
 '595_0',
 '835_0',
 '1068_0',
 '1389_0',
 '530_0',
 '1569_0',
 '160_0',
 '1397_0',
 '126_0',
 '109_0',
 '1103_0',
 '564_0',
 '971_0',
 '427_0',
 '959_0',
 '836_0',
 '701_0',
 '631_0',
 '1831_0',
 '1765_0',
 '1736_0',
 '423_0',
 '496_0',
 '641_0',
 '375_0',
 '612_0',
 '1012_0',
 '467_0',
 '676_0',
 '390_0',
 '1016_0',
 '465_0',
 '646_0',
 '691_0',
 '486_0',
 '1132_0',
 '1420_0',
 '23_5362',
 '1567_0',
 '874_0',
 '1468_0',
 '558_0',
 '643_0',
 '731_0',
 '1729_0',
 '819_0',
 '820_0',
 '10_565',
 '523_0',
 '982_0',
 '797_0',
 '828_0',
 '1564_0',
 '925_0',
 '1002_0',
 '1415_0',
 '945_0',
 '1101_0',
 '1191_0',
 '1275_0',
 '1466_0',
 '1536_0',
 '1667_0',
 '551_0',
 '1675_0',
 '1697_0',
 '1501_0',
 '29_0',
 '1209_0',
 '383_0',
 '369_0',
 '540_0',
 '566_0',
 '1404_0',
 '1260_0',
 '378_0',
 '1258_0',
 '1084_0',
 '437_0',
 '671_0',
 '108_0',
 '1215_0',
 '246_0',
 '1830_0',
 '469_0',
 '550_0',
 '622_0',
 '44_0',
 '867_0',
 '78_0',
 '461_0',
 '638_0',
 '681_0',
 '834_0',
 '192_0',
 '99_0',
 '1708_0',
 '584_0',
 '1686_0',
 '585_0',
 '1561_0',
 '808_0',
 '521_0',
 '1921_0',
 '1336_0',
 '1905_0',
 '1739_0',
 '448_0',
 '546_0',
 '1006_0',
 '1256_0',
 '1094_0',
 '1189_0',
 '1950_0',
 '1045_342',
 '1110_0',
 '2108_0',
 '1745_0',
 '1916_0',
 '460_0',
 '2040_0',
 '335_0',
 '338_0',
 '86_0',
 '491_0',
 '60_384',
 '540_746',
 '562_0',
 '566_502',
 '537_0',
 '633_0',
 '1859_0',
 '342_0',
 '455_0',
 '185_0',
 '1045_0',
 '60_0',
 '432_0',
 '426_0',
 '165_0',
 '702_502',
 '709_0',
 '718_0',
 '1251_0',
 '553_0',
 '868_765',
 '1164_0',
 '892_0',
 '1914_0',
 '692_0',
 '1323_0',
 '1710_0',
 '952_0',
 '1613_0',
 '813_0',
 '527_0',
 '937_0',
 '1119_0',
 '1491_0',
 '290_0',
 '444_0',
 '993_0',
 '476_0',
 '1173_0',
 '1512_0',
 '1964_0',
 '561_0',
 '484_0',
 '156_0',
 '391_0',
 '80_0',
 '728_0',
 '766_0',
 '786_0',
 '824_0',
 '430_0',
 '3_5684',
 '544_0',
 '759_0',
 '1621_0',
 '1783_66',
 '1379_0',
 '575_0',
 '1659_0',
 '1559_0',
 '1354_0',
 '554_0',
 '588_0',
 '605_0',
 '73_0',
 '773_0',
 '821_0',
 '1508_0',
 '1572_0',
 '1034_0',
 '1807_0',
 '1881_117',
 '1816_0',
 '2106_0',
 '2025_0',
 '376_591',
 '1655_0',
 '1852_0',
 '1775_0',
 '609_0',
 '1637_317',
 '627_0',
 '94_141',
 '145_322',
 '398_0',
 '404_0',
 '796_0',
 '838_0',
 '473_0',
 '636_0',
 '70_572',
 '713_0',
 '721_0',
 '1082_0',
 '1665_0',
 '992_0',
 '581_0',
 '18_15',
 '36_610',
 '61_438',
 '75_381',
 '87_42',
 '88_81',
 '2067_0',
 '571_0',
 '1671_0',
 '101_384',
 '114_592',
 '117_601',
 '193_0',
 '577_0',
 '535_0',
 '1089_0',
 '1867_0',
 '1222_0',
 '1583_0',
 '1568_0',
 '2043_0',
 '1145_0',
 '125_5486',
 '522_0',
 '539_0',
 '1118_0',
 '1683_0',
 '984_0',
 '396_0',
 '1700_0',
 '1818_0',
 '1880_0',
 '494_0',
 '1527_0',
 '2035_0',
 '1026_0',
 '490_0',
 '894_0',
 '653_0',
 '1351_0',
 '135_328',
 '1790_0',
 '337_541',
 '1268_0',
 '1663_0',
 '767_0',
 '327_360',
 '330_767',
 '148_370',
 '168_168',
 '346_563',
 '697_0',
 '886_0',
 '1375_0',
 '586_0',
 '463_0',
 '830_0',
 '1376_0',
 '31_0',
 '389_0',
 '1257_0',
 '570_0',
 '794_0',
 '744_0',
 '1024_0',
 '738_0',
 '987_0',
 '263_0',
 '621_0',
 '1639_0',
 '457_0',
 '133_0',
 '433_0',
 '427_5054',
 '178_424',
 '363_0',
 '179_710',
 '197_743',
 '210_389',
 '737_0',
 '1193_0',
 '792_0',
 '1198_0',
 '261_14',
 '267_114',
 '168_0',
 '274_58',
 '277_483',
 '297_388',
 '689_0',
 '303_489',
 '304_286',
 '319_3',
 '1305_0',
 '1058_5887',
 '480_0',
 '1823_0',
 '1897_0',
 '846_0',
 '960_0',
 '763_5301',
 '1170_0',
 '413_0',
 '1138_0',
 '470_0',
 '1201_0',
 '2399_0',
 '468_8072',
 '1590_0',
 '1664_0',
 '1295_0',
 '1429_8376',
 '64_381',
 '1575_0',
 '589_0',
 '1380_0',
 '645_0',
 '635_5146',
 '482_0',
 '270_5359',
 '939_0',
 '98_5423',
 '1555_0',
 '869_0',
 '868_0',
 '766_8263',
 '750_0',
 '594_0',
 '509_8094',
 '2435_0',
 '1658_0',
 '611_0',
 '531_5056',
 '528_0',
 '500_0',
 '435_5091',
 '582_8349',
 '1524_0',
 '1927_0',
 '36_5627',
 '2055_0',
 '2183_0',
 '49_221',
 '16_8410',
 '48_8022',
 '599_0',
 '912_0',
 '493_0',
 '1737_0',
 '1400_5028',
 '1008_0',
 '38_5057',
 '370_8396',
 '732_0',
 '801_0',
 '207_5083',
 '1961_0',
 '1832_0',
 '1631_0',
 '206_5563',
 '1112_0',
 '349_8440',
 '1040_0',
 '912_5525',
 '1015_0',
 '630_0',
 '136_5861',
 '1406_0',
 '1182_0',
 '1120_0',
 '841_0',
 '639_0',
 '936_0',
 '933_0',
 '934_0',
 '335_5379',
 '525_8009',
 '381_8036',
 '38_5060',
 '1773_0',
 '1860_0',
 '2048_0',
 '122_8400',
 '105_430',
 '489_8096',
 '1628_0',
 '543_0',
 '339_8457',
 '708_0',
 '861_0',
 '210_8049',
 '1181_0',
 '71_5120',
 '115_5536',
 '1440_0',
 '783_0',
 '1904_0',
 '1983_0',
 '514_5272',
 '154_8260',
 '593_0',
 '742_0',
 '826_0',
 '130_5340',
 '63_8322',
 '1128_0',
 '284_5616',
 '1438_0',
 '1479_0',
 '1500_0',
 '1270_0',
 '1481_0',
 '1842_0',
 '1042_0',
 '86_5298',
 '752_0',
 '37_5918',
 '986_0',
 '344_130',
 '997_0',
 '1062_0',
 '94_5874',
 '1081_0',
 '1150_0',
 '1233_0',
 '1350_0',
 '1445_0',
 '93_549',
 '93_5535',
 '101_5237',
 '1611_0',
 '2102_0',
 '1647_0',
 '1779_0',
 '2070_0',
 '2078_0',
 '290_5032',
 '2094_0',
 '2131_0',
 '714_0',
 '226_5469',
 '427_22',
 '600_0',
 '606_0',
 '618_0',
 '706_0',
 '1875_0',
 '361_8181',
 '1706_0',
 '649_0',
 '107_314',
 '1072_0',
 '1035_0',
 '944_0',
 '525_0',
 '790_0',
 '617_0',
 '1346_0',
 '610_0',
 '37_5315',
 '4_0',
 '619_0',
 '1946_0',
 '1923_0',
 '93_0',
 '1360_0',
 '1882_0',
 '384_8083',
 '1126_0',
 '1075_0',
 '1657_0',
 '753_0',
 '644_8320',
 '555_0',
 '1932_0',
 '1485_0',
 '1980_0',
 '2095_0',
 '2036_0',
 '1742_0',
 '1582_0',
 '1492_0',
 '1918_0',
 '1787_0',
 '1767_0',
 '1263_0',
 '811_0',
 '213_8368',
 '920_0',
 '1059_0',
 '1078_0',
 '1237_0',
 '1319_0',
 '397_0',
 '91_5416',
 '483_8399',
 '1504_0',
 '406_8416',
 '1626_0',
 '1684_0',
 '698_0',
 '657_0',
 '1754_0',
 '1199_0',
 ...]

In [17]:
dataset = dataset[dataset['transaction'].isin(valid_transactions)]

In [18]:
dataset.shape

(10189, 9)